<header>
  <%= image_tag attachments['header_background.png'].url %>
</header>
<p><%= t('notifications.send_password.line_1', subscriber_name: @name) %></p>
<p><%= t('notifications.send_password.line_2') %></p>
<p>
  <b><%= t('notifications.send_password.line_3a') %></b>
  <%= t('notifications.send_password.line_3b', subscriber_password: @password) %>
</p>
<p><%= t('notifications.send_password.line_4') %></p>
<p>
  <a href="<%= t('notifications.send_password.line_5') %>" target="_blank">
    <%= t('notifications.send_password.line_5') %>
  </a>
</p>
<br>
<p><%= t('notifications.send_password.line_6') %></p>
<br>
<br>
<p><%= t('notifications.send_password.line_7') %></p>
<hr>
<footer>
  <%= image_tag attachments['footer_background.png'].url %>
</footer>
