<%= render './partials/messages' %>
<h1 class="mt-4"><%= t('.title') %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><%= t('breadcrumbs.munitions_list') %></li>
</ol>
<div>
  <%= link_to t('.add_new_munition_type_btn'),
              employee_panel_administrator_dashboard_arsenais_municao_novo_path,
              class: 'btn btn-primary' %>
</div>
<br>
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    <%= t('.munitions_list') %>
  </div>
  <div class="card-body">
    <table id="datatablesMunition" role='datatable' class="stripe" width="100%">
      <thead>
        <tr>
          <th><%= t('.caliber') %></th>
          <th><%= t('.quantity') %></th>
          <th><%=t('.edit')%></th>
          <th><%= t('.remove') %></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><%= t('.caliber') %></th>
          <th><%= t('.quantity') %></th>
          <th><%= t('.edit') %></th>
          <th><%= t('.remove') %></th>
        </tr>
      </tfoot>
      <tbody>
        <% @munitions.each do |munition| %>
          <tr>
            <td><%= munition.caliber.titleize %></td>
            <td><%= munition.quantity %></td>
            <td>
              <%= link_to employee_panel_administrator_dashboard_munition_edit_path(munition.id) do %>
                <i class="fas fa-pen me-1"></i>
              <% end %>
            </td>
            <td>
              <%= link_to({ action: 'remove', id: munition.id }, method: :delete, class: 'btn-delete') do %>
                <i class="fas fa-trash me-1"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
