<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<%= render './partials/messages' %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('breadcrumbs.dashboards.selleres.login'), login_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= t('breadcrumbs.dashboards.sellers.informations') %>
    </li>
  </ol>
</nav>
<% unless @seller.account.present? %>
  <div class="alert alert-warning" role="alert">
    <%= t('messages.warning.seller_account_missing') %>
  </div>
<% end %>
<section id="access_buttons">
  <div class="container space-between">
    <div>
      <%= link_to dashboards_representantes_informacoes_pessoais_cadastro_path, title: t('.menu.register') do %>
        <%= image_tag 'register.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_representantes_informacoes_pessoais_documentos_path, title: t('.menu.documents') do %>
        <%= image_tag 'contract.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_representantes_informacoes_pessoais_dados_bancarios_path, title: t('.menu.bank_data') do %>
        <%= image_tag 'bank.svg' %>
      <% end %>
    </div>
  </div>
</section>
<%= render './././partials/footer' %>
