<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.vehicles'), dashboards_assinantes_veiculos_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.details') %>
      </li>
    </ol>
  </nav>
  <% unless @vehicle.have_photos? %>
    <div class="alert alert-warning" role="alert">
      <%= t('messages.warning.vehicle_photos_missing') %>
    </div>
  <% end %>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h4>
      <b><%= t('.vehicle_details') %></b>
    </h4>
    <hr>
    <div class="form-group form-check">
      <b><span><%= t('.brand') %></span></b>
      <%= @vehicle.brand %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.kind') %></span></b>
      <%= @vehicle.kind %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.license_plate') %></span></b>
      <%= @vehicle.license_plate %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.photos') %></span></b>
      <br><br>
      <% @vehicle.photos.each do |photo| %>
        <%= image_tag photo, class: 'photos' %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<%= render './././partials/footer' %>
