<% #TODO CRIAR OPÇÃO PARA O PASSAGEIRO MANDAR O LINK PARA O ANGEL E GERE O FEEDBACK PARA O MOTORISTA %>
<%= render './partials/header' %>
<div class="rows">
  <div id="camera-qrcode" class="col-sm-offset-2 col-sm-8">
    <div class="dashboard-logout">
      <%= link_to t('.logout'), cameras_dashboards_motoristas_logout_path, class: 'dashboard-logout-link' %>
    </div>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to t('breadcrumbs.cameras.dashboards.driver.login'), cameras_dashboards_motoristas_login_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= link_to t('breadcrumbs.cameras.dashboards.driver.dashboard'), cameras_dashboards_motoristas_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= t('breadcrumbs.cameras.dashboards.driver.qrcode') %>
        </li>
      </ol> 
    </nav>
    <%= render './partials/messages' %>
    <h3><%= t('.drivers') %></h3>
    <hr>
    <div class="qrcode">
      <%= image_tag url_for(@driver.qrcode) %>
    </div>
  </div>
</div>
<%= render './partials/footer' %>
