<div class="container">
  <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
    <%= render './partials/messages' %>
    <%= render './partials/information_rule', current_step: Hiring::STEPS[:identification] %>
    <h3 class="form-title">
      <%= t('.title.identification') %>
    </h3>
    <hr>
    <div>
      <h4 class="form-title">
        <%= t('.title.seller') %>
      </h4>
      <label class="little-label"><%= t('.seller_usage') %></label>
    </div>
    <br>
    <div class="form-group">
      <label><%= t('.inform_seller_cpf') %></label>
      <input type="text" id="seller_cpf" name="seller_cpf" class="form-control short-fields"></input>
    </div>
    <div class="form-group">
      <button name="add_seller_btn" id='add_seller_btn' class="btn btn-primary short-fields" onclick="checkSeller();"><%= t('.add_seller_btn') %></button>
    </div>
    <br>
    <span class="valid_seller_cpf_message hidden-messages" id="valid_seller_cpf_message"><%= t('.validated') %></span>
    <span class="invalid_seller_cpf_message hidden-messages" id="invalid_seller_cpf_message"><%= t('.invalidated') %></span>
    <hr>
    <div>
      <h4 class="form-title">
        <%= t('.title.subscriber') %>
      </h4>
    </div>
    <br>
    <div id="actions_buttons">
      <%= link_to t('.subscriber_btn'), checkout_identificacao_assinante_path, class: 'btn btn-primary short-fields' %>
      <%= link_to t('.new_subscriber_btn'),  checkout_identificacao_novo_assinante_path, class: 'btn btn-primary short-fields' %>
    </div>

  </div>
  <hr>
</div>
<script>
  function checkSeller() {
    $.ajax({
      type: 'GET',
      url: '/checkout/check_seller',
      data: { seller_cpf: $('#seller_cpf').val() },
      success: function(data,status,xhr){
        if(data) {
          $('#valid_seller_cpf_message').removeClass('hidden-messages');
          $('#invalid_seller_cpf_message').addClass('hidden-messages');
        }else{
          $('#valid_seller_cpf_message').addClass('hidden-messages');
          $('#invalid_seller_cpf_message').removeClass('hidden-messages');
        }
      },
      error: function(xhr,status,error){
        console.log(xhr);
      }
    });
  }
</script>
