<div class='container'>
  <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
    <%= render './partials/messages' %>
    <%= render './partials/information_rule', current_step: Hiring::STEPS[:payment] %>
    <div id="payment">
      <div>
        <h3 class="form-title">
          <%= t('.title') %>
        </h3>
        <br>
      </div>
      <h4 class="form-subtitle">
        <table class="table">
          <tr>
            <td><%= t('.plan_name', name: session[:plan]) %></td>
            <td class="right-text"><%= session[:plan]['name'] %></td>
          </tr>
          <tr>
            <td><%= t('.plan_price') %></td>
            <td class="right-text"><%= convert_float_to_currency(session[:plan]['price']) %></td>
          </tr>
          <tr>
            <td><%= t('.vehicles_amount') %></td>
            <td class="right-text">
              <%= t('.multiplication_sign') %>
              <%= session[:vehicle_list].count %>
            </td>
          </tr>
          <tr>
            <td><%= t('.signature_value') %></td>
            <td class='right-text'><%= subtotal(session[:vehicle_list].count, session[:plan]['price']) %></td>
          </tr>
          <tr>
            <td><%= t('.freight') %></td>
            <td class='right-text'>
              <%= t('.sum_sign') %>
              <%= convert_float_to_currency(@freight) %>
            </td>
          </tr>
          <tr>
            <td><b><%= t('.total') %></b></td>
            <td class="right-text"><b><%= total_price(session[:vehicle_list].count, session[:plan]['price'], @freight) %></b></td>
          </tr>
        </table>
      </h4>
      <%= form_with scope: 'payment', url: checkout_process_payment_path do |f| %>
        <label><%= t('.payment_methods') %></label>
        <div>
          <%= f.select :payment_method,
                       options_for_select(payment_method_list, Plan::DEFAULT_PAYMENT_METHOD),
                       {},
                       class: 'form-control short-fields',
                       required: true %> 
          <br>
        </div>
        <div id='payment_with_credit_card'>
          <div>
            <%= image_tag 'american-express.svg', class: 'credit-card-logo' %>
            <%= image_tag 'diners-club.svg', class: 'credit-card-logo' %>
            <%= image_tag 'elo.svg', class: 'credit-card-logo' %>
            <%= image_tag 'mastercard.svg', class: 'credit-card-logo' %>
            <%= image_tag 'visa.svg', class: 'credit-card-logo' %>
            <br>
            <br>
          </div>
          <div>
            <label><%= t('.credit_card_number') %></label>
            <%= f.text_field :credit_card_number,
                               class: 'form-control short-fields',
                               required: true %>
            <br>
          </div>
          <div>
            <label><%= t('.expiration_month') %></label>
            <br>
            <%= f.select :expiration_month,
                         options_for_select(month_list),
                         {},
                         class: 'form-control short-fields',
                         required: true %>
            <br>
          </div>
          <div>
            <label><%= t('.expiration_year') %></label>
            <br>
            <%= f.select :expiration_year,
                         options_for_select(year_list),
                         {},
                         class: 'form-control short-fields',
                         required: true %>
            <br>
          </div>
          <div>
            <label>
              <%= t('.holder_name') %>
              <span class="observation-fields"><%= t('.holder_name_obs') %></span>
            </label>
            <br>
            <%= f.text_field :holder_name,
                             class: 'form-control medium-fields',
                             required: true %>
            <br>
          </div>
        </div>
        <br>
        <%= recaptcha_tags %>
        <br>
        <%= f.submit t('.finish_buy_btn'),
                       class: 'form-control btn btn-primary medium-fields',
                       id: 'finish_buy_btn' %>
        <p class="minor-label">
          <b><span><%= t('.contractor_ip') %></span></b>
          <%= session[:subscriber]['ip'] %>
        </p>
      <% end %>
    </div>
  </div>
  <hr>
</div>
