<%= render './partials/header' %>
<div class="rows">
  <div id="camera-transmission" class="col-sm-offset-2 col-sm-8">
    <div class="dashboard-logout">
      <%= link_to t('.logout'), cameras_dashboards_angels_logout_path, class: 'dashboard-logout-link' %>
    </div>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to t('breadcrumbs.cameras.dashboards.angel.login'), cameras_dashboards_angels_login_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= link_to t('breadcrumbs.cameras.dashboards.angel.dashboard'), cameras_dashboards_angels_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= t('breadcrumbs.cameras.dashboards.angel.transmission') %>
        </li>
      </ol> 
    </nav>
    <%= render './partials/messages' %>
    <h3><%= t('.angels') %></h3>
    <hr>
    <%= render './partials/transmission' %>
  </div>
</div>
<%= render './partials/footer' %>
