<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.drivers'), dashboards_assinantes_motoristas_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.insert') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h3>
     <b><%= t('.title') %></b>
    </h3>
    <hr>
    <%= form_with scope: 'driver', url: dashboards_assinantes_motoristas_create_path do |f| %>
      <div class="form-group">
        <label><%= t('.choose_a_vehicle') %></label>
        <%= f.select :vehicle_license_plates,
                     options_for_select(@vehicles_list, ''),
                     {},
                     { multiple: true,
                       size: @vehicles_list.size,
                       required: true,
                       class: 'form-control short-fields' } %>
      </div>      
      <div class="form-group">
        <label><%= t('.name') %></label>
        <%= f.text_field :name,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.license') %></label>
        <%= f.text_field :license,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-check">
        <%= f.check_box :paid_activity,
                         class: 'form-check-input' %>
        <label class="form-check-label"><%= t('.paid_activity') %></label>
      </div>
      <br>
      <div class="form-group">
        <label><%= t('.expedition_date') %></label> 
        <%= f.text_field :expedition_date,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.expiration_date') %></label>
        <%= f.text_field :expiration_date,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label>
          <%= t('.license') %>
          <span class="small-text"><%= t('.line_1') %></span>
        </label>
        <%= f.file_field :document,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label>
          <%= t('.avatar') %>
          <span class="small-text"><%= t('.line_2') %></span>
        </label>
        <%= f.file_field :avatar,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <br>
      <%= f.submit t('.save_data_btn'),
                   class: 'btn btn-primary' %>
    <% end %>
    <br><br><br>
  </div>
</div>
<%= render './././partials/footer' %>
