<div class="nav">
  <a class="nav-link" href="/gestao/dashboard/index">
   <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
   <%= t('.dashboard') %>
  </a>

  <div class="sb-sidenav-menu-heading"><%= t('.orders') %></div>

  <!-- ESCORTS -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEscorts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.escort.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseEscorts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= escort_links %>
      <%= link_to t('.escort.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <div class="sb-sidenav-menu-heading"><%= t('.external_management') %></div>

  <!-- CUSTOMERS -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCustomers" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.customer.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseCustomers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.customer.list'), employee_panel_administrator_dashboard_clientes_path, class: 'nav-link' %>
      <%= link_to t('.customer.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <div class="sb-sidenav-menu-heading"><%= t('.internal_management') %></div>

  <!--ARSENALS -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseArsenals" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.arsenal.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseArsenals" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.arsenal.guns.list'), employee_panel_administrator_dashboard_arsenais_armas_path, class: 'nav-link' %>
      <%= link_to t('.arsenal.munitions.list'), employee_panel_administrator_dashboard_arsenais_municoes_path, class: 'nav-link' %>
      <%= link_to t('.arsenal.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <!-- TACKLES -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTackles" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.tackle.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseTackles" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.tackle.list'), employee_panel_administrator_dashboard_equipamentos_path, class: 'nav-link' %>
      <%= link_to t('.tackle.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <!-- EMPLOYEES -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEmployees" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.employee.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseEmployees" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.employee.list'), employee_panel_administrator_dashboard_funcionarios_path, class: 'nav-link' %>
      <%= link_to t('.employee.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <!-- VEHICLES -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVehicles" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.vehicle.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseVehicles" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.vehicle.list'), employee_panel_administrator_dashboard_veiculos_path, class: 'nav-link' %>
      <%= link_to t('.vehicle.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>
</div>
