<div class="nav">
  <a class="nav-link" href="/gestao/dashboard/index">
   <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
   <%= t('.dashboard') %>
  </a>
  <div class="sb-sidenav-menu-heading"><%= t('.orders') %></div>

  <!-- ESCORTS -->
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEscorts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.escort.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseEscorts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= escort_links %>
      <%= link_to t('.escort.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>

  <!-- CUSTOMERS -->
  <div class="sb-sidenav-menu-heading"><%= t('.management') %></div>
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCustomers" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    <%= t('.customer.type') %>
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="collapseCustomers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <%= link_to t('.customer.list'), employee_panel_administrator_dashboard_clientes_path, class: 'nav-link' %>
      <%= link_to t('.customer.general_report'), root_path, class: 'nav-link' %>
    </nav>
  </div>
</div>
