<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <br>
            <%= render './partials/messages' %>
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4"><%= t('.title') %></h3>
              </div>
              <div class="card-body">
                <%= form_with scope: 'user', url: send_password_path do |f| %>
                  <div class="form-floating mb-3">
                    <%= f.email_field :email,
                                      class: 'form-control',
                                      id: 'inputEmail',
                                      placeholder: t('.email_placeholder'),
                                      required: true %>
                    <label for="inputEmail"><%= t('.email') %></label>
                  </div>
                  <div>
                    <%= link_to t('.back_btn'), :back, class: 'btn btn-primary' %>
                    <%= f.submit t('.send_password_btn'), class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
              <div class="card-footer text-center py-3"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
