<footer>
  <br>
  <p><%= t('.line_1') %></p>
  <br>
  <p>
    <small><%= t('.line_2') %></small>
    <br>
    <small><%= t('.line_3') %></small>
    <br>
    <small><%= t('.line_4') %></small>
    <br>
    <small><%= t('.line_5') %></small>
    <br>
    <a href="<%= t('.line_6') %>" target="_blank">
      <small><%= t('.line_6') %></small>
    </a>
  </p>
  <hr>
</footer>
