<h1 class="mt-4"><%= t('.title') %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.escort_missions'), employee_panel_operator_dashboard_missoes_path %>
  </li>
  <li class="breadcrumb-item active"><%= t('breadcrumbs.mission_number', mission_number: @mission.id) %></li>
</ol>
<hr>
<div id="layoutOrderManagementt">
  <div id="layoutOrderManagementt_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <br>
            <%= render './partials/messages' %>
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-body">

                <!-- MISSION STATUS -->
                <h5><%= t('.status') %></h5>
                <h6><strong><%= @mission.status.name.upcase %></strong></h6>

                <hr>

                <!-- CUSTOMER DATA -->
                <h5><%= t('.way') %></h5>
                <h6><%= t('.source') %></h6>
                <strong><%= t('.job_day') %></strong>
                <span><%= @mission.escort_service.job_day %></span>
                <br>
                <strong><%= t('.job_horary') %></strong>
                <span><%= @mission.escort_service.job_horary %></span>
                <br>
                <strong><%= t('.address') %></strong>
                <span><%= @mission.escort_service.source_address %></span>
                <br>
                <strong><%= t('.number') %></strong>
                <span><%= @mission.escort_service.source_number %></span>
                <br>
                <strong><%= t('.complement') %></strong>
                <span><%= @mission.escort_service.source_complement %></span>
                <br>
                <strong><%= t('.district') %></strong>
                <span><%= @mission.escort_service.source_district %></span>
                <br>
                <strong><%= t('.city') %></strong>
                <span><%= @mission.escort_service.source_city %></span>
                <br>
                <strong><%= t('.state') %></strong>
                <span><%= @mission.escort_service.source_state %></span>
                <br><br>
                <h6><%= t('.destiny') %></h6>
                <strong><%= t('.address') %></strong>
                <span><%= @mission.escort_service.destiny_address %></span>
                <br>
                <strong><%= t('.number') %></strong>
                <span><%= @mission.escort_service.destiny_number %></span>
                <br>
                <strong><%= t('.complement') %></strong>
                <span><%= @mission.escort_service.destiny_complement %></span>
                <br>
                <strong><%= t('.district') %></strong>
                <span><%= @mission.escort_service.destiny_district %></span>
                <br>
                <strong><%= t('.city') %></strong>
                <span><%= @mission.escort_service.destiny_city %></span>
                <br>
                <strong><%= t('.state') %></strong>
                <span><%= @mission.escort_service.destiny_state %></span>
                <br><br>
                <strong><%= t('.observation') %></strong>
                <span><%= @mission.escort_service.observation %></span>
                <br>

                <hr>

                <!-- TEAM DATA-->
                <h5><%= t('.team') %></h5>
                <strong><%= t('.team_name') %></strong>
                <span><%= @mission.team.name %></span>
                <br>
                <strong><%= t('.agents', count: @mission.team.agents.count) %></strong>
                <span><%= MissionPresenter.fullnames_with_document(@mission.team.agents) %></span>
                <br>

                <hr>

                <!-- GUNS DATA-->
                <h5><%= t('.arsenal') %></h5>
                <strong><%= t('.guns') %></strong>
                <span><%= MissionPresenter.guns(@mission.team.agents) %></span>
                <br>

                <hr>

                <!-- MUNITIONS DATA-->
                <h5><%= t('.munitions') %></h5>
                <strong><%= t('.description') %></strong>
                <span><%= MissionPresenter.munitions(@mission.team.agents) %></span>
                <br>

                <hr>

                <!-- TACKLES DATA-->
                <h5><%= t('.tackles') %></h5>
                <strong><%= t('.waistcoats') %></strong>
                <span><%= MissionPresenter.waistcoats(@mission.team.agents) %></span>
                <br>
                <strong><%= t('.radios') %></strong>
                <span><%= MissionPresenter.radios(@mission.team.agents) %></span>
                <br>

                <hr>

                <!-- VEHICLES DATA-->
                <h5><%= t('.vehicles') %></h5>
                <strong><%= t('.description') %></strong>
                <span><%= MissionPresenter.vehicles(@mission.team) %></span>
                <br>

                <hr>
                <% if @mission.exit_from_base.nil? && @mission.arrival_at_base.nil? && @mission.started_at.nil? && @mission.finished_at.nil? %>
                  <%= link_to t('.exit_from_base_btn'),
                              employee_panel_operator_dashboard_missao_exit_from_base_path(order_number: @mission.escort_service.order_number),
                              method: :patch,
                              class: 'btn btn-primary' %>
                <% end %>
                <% if @mission.exit_from_base.present? && @mission.arrival_at_base.nil? && @mission.started_at.nil? && @mission.finished_at.nil?%>
                  <%= link_to t('.start_mission_btn'),
                                employee_panel_operator_dashboard_missao_start_mission_path(order_number: @mission.escort_service.order_number),
                                method: :patch,
                                class: 'btn btn-success' %>
                <% end %>
                <% if @mission.exit_from_base.present? && @mission.arrival_at_base.nil? && @mission.started_at.present? && @mission.finished_at.nil? %>
                  <button class="btn btn-danger" id="finishMissionObservationModalBtn">
                    <%= t('.finish_mission_btn') %>
                  </button>

                  <%= render './partials/finish_mission_observation_modal' %>
                <% end %>
                <% if @mission.exit_from_base.present? && @mission.arrival_at_base.nil? && @mission.started_at.present? && @mission.finished_at.present? %>
                  <%= link_to t('.arrival_at_base_btn'),
                              employee_panel_operator_dashboard_missao_arrival_at_base_path(order_number: @mission.escort_service.order_number),
                              method: :patch,
                              class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div class="card-footer text-center py-3"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
