<h1 class="mt-4"><%= t('.title') %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><%= t('breadcrumbs.escort_missions') %></li>
</ol>
<%= render './partials/messages' %>
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    <%= t('.missions_list') %>
  </div>
  <div class="card-body">
    <table id="tableOperatorEscort" class="table table-striped" width="100%">
      <thead>
        <tr>
          <th><%= t('.order') %></th>
          <th><%= t('.team') %></th>
          <th><%= t('.exit_from_base') %></th>
          <th><%= t('.started_at') %></th>
          <th><%= t('.finished_at') %></th>
          <th><%= t('.arrival_at_base') %>
          <th><%= t('.status') %></th>
          <th></th>
        </tr>
      </thead>
      <% if @missions.any? %>
        <tfoot>
          <tr>
            <th><%= t('.order') %></th>
            <th><%= t('.team') %></th>
            <th><%= t('.exit_from_base') %></th>
            <th><%= t('.started_at') %></th>
            <th><%= t('.finished_at') %></th>
            <th><%= t('.arrival_at_base') %>
            <th><%= t('.status') %></th>
            <th></th>
          </tr>
        </tfoot>
      <% end %>
      <tbody>
        <% @missions.each do |mission| %>
          <tr>
            <td><%= mission.escort_service.order_number %></td>
            <td><%= mission.team.name %></td>
            <td><%= convert_date_time(mission.exit_from_base) if mission.exit_from_base %></td>
            <td><%= convert_date_time(mission.started_at) if mission.started_at %></td>
            <td><%= convert_date_time(mission.finished_at) if mission.finished_at %></td>
            <td><%= convert_date_time(mission.arrival_at_base) if mission.arrival_at_base %></td>
            <td><%= mission.status.name %></td>
            <td>
              <%= link_to employee_panel_operator_dashboard_mission_path(mission.escort_service.order_number), title: t('.details') do %>
                <i class="fas fa-align-justify me-1"></i></td>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @missions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
