<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<%= render './partials/messages' %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('breadcrumbs.dashboards.selleres.login'), login_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= t('breadcrumbs.dashboards.sellers.finance') %>
    </li>
  </ol>
</nav>
<section id="access_buttons">
  <div class="container space-between">
    <div>
      <%= link_to dashboards_representantes_financeiro_vendas_path, title: t('.menu.sales') do %>
        <%= image_tag 'sales.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_representantes_financeiro_recibos_path, title: t('.menu.receipts') do %>
        <%= image_tag 'receipts.svg' %>
      <% end %>
    </div>
  </div>
</section>
<%= render './././partials/footer' %>
