<div class="container-fluid">
  <div class='col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-12'>
    <%= render './partials/messages' %>
    <%= form_with scope: 'customer', url: employee_panel_check_credentials_path do |f| %>
      <div class="mb-3">
        <label for="email" class="col-form-label-sm"><%= t('user_panel.login.email') %></label>
        <%= f.email_field :email,
                          required: true,
                          class: 'form-control',
                          placeholder: t('user_panel.login.email_placeholser') %>
      </div>
      <div class="mb-3">
        <label for="password" class="col-form-label-sm"><%= t('user_panel.login.password') %></label>
        <%= f.password_field :password,
                             required: true,
                             class: 'form-control',
                             placeholder: t('user_panel.login.password_placeholder') %>
      </div>
      <div class="mb-3">
        <%= link_to employee_panel_login_path, class: 'col-form-label-sm' do %>
          <small><%= t('user_panel.login.forgot_my_password_lnk') %></small>
        <% end %>
      </div>
      <div>
        <%= f.submit t('user_panel.login.access_btn'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
