<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <br>
            <%= render './partials/messages' %>
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4"><%= t('.title') %></h3>
              </div>
              <div class="card-body">
                <%= form_with scope: 'employee', url: check_credentials_path do |f| %>
                  <div class="form-floating mb-3">
                    <%= f.email_field :email, class: 'form-control', id: 'inputEmail', placeholder: t('.email_placeholder') %>
                    <label for="inputEmail"><%= t('.email') %></label>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.password_field :password, class: 'form-control', id: 'inputPassword', placeholder: t('.password_placeholder') %>
                    <label for="inputPassword"><%= t('.password') %></label>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <%= link_to t('.forgot_your_password_lnk'), gestao_esqueceu_sua_senha_path, class: 'small' %>
                    <%= f.submit t('.login_btn'), class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
              <div class="card-footer text-center py-3"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
