<h1 class="mt-4"><%= "#{@gun.kind.titleize} #{@gun.number}" %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <%= link_to t('breadcrumbs.guns_list'), employee_panel_administrator_dashboard_arsenais_armas_path %>
  </li>
  <li class="breadcrumb-item active"><%= "#{@gun.kind.titleize} #{@gun.number}" %></li>
</ol>
<hr>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <br>
            <%= render './partials/messages' %>
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-body">
                <%= form_with scope: 'gun', url: employee_panel_administrator_dashboard_gun_update_path, method: :patch do |f| %>
                  <p>
                    <small><%= t('.required_fields') %></small>
                  </p>
                  <span><strong><%= t('.gun_data') %></strong></span>
                  <br><br>
                  <div class="form-floating mb-3">
                    <%= f.select :kind,
                                 options_for_select(
                                   Gun::ALLOWED_TYPES.values,
                                   @gun.kind
                                 ),
                                 { class: 'form-control',
                                   prompt: t('.kind') },
                                   required:  true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.text_field :caliber,
                                     class: 'form-control',
                                     id: 'inputCaliber',
                                     placeholder: t('.caliber_placeholder') %>
                    <label for="inputCaliber"><%= t('.caliber') %></label>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.text_field :number,
                                     class: 'form-control',
                                     id: 'inputNumber',
                                     placeholder: t('.number_placeholder'),
                                     required: true %>
                    <label for="inputNumber"><%= t('.number') %></label>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.text_field :sinarm,
                                     class: 'form-control',
                                     id: 'inputSinarm',
                                     placeholder: t('.sinarm_placeholder') %>
                    <label for="inputSinarm"><%= t('.sinarm') %></label>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.text_field :registration_validity,
                                     class: 'form-control',
                                     id: 'inputRegistrationValidity',
                                     placeholder: t('.registration_validity_placeholder'),
                                     value: convert_date(@gun.registration_validity) %>
                    <label for="inputRegistrationValidity"><%= t('.registration_validity') %></label>
                    <small><%= t('.format_date_info') %></small>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.select :linked_at_post,
                                 options_for_select(
                                   boolean_options,
                                  @gun.linked_at_post
                                 ),
                                 { class: 'form-control',
                                   prompt: t('.linked_at_post') },
                                 required:  true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.select :situation,
                                 options_for_select(
                                   Arsenal.situations.collect {|situation| [ situation.name.titleize, situation.name ] },
                                   @gun.situation
                                 ),
                                 { class: 'form-control',
                                   prompt: t('.situation') },
                                   required:  true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.select :status,
                                 options_for_select(
                                   Arsenal.statuses.collect {|status| [ status.name.titleize, status.name ] },
                                   @gun.status.name
                                 ),
                                 { class: 'form-control',
                                   prompt: t('.status') },
                                   required:  true %>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <%= f.submit t('.update_gun_btn'), class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
              <div class="card-footer text-center py-3"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
