  <%= render '/partials/header' %>
  <h1 style="text-align: center"><%= t('.title') %></h1>
  <hr>
  <table width="100%">
    <thead>
      <tr>
        <th><%= t('.company') %></th>
        <th><%= t('.cnpj') %></th>
        <th><%= t('.email') %></th>
        <th><%= t('.telephone') %></th>
        <th><%= t('.status') %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('.company') %></th>
        <th><%= t('.cnpj') %></th>
        <th><%= t('.email') %></th>
        <th><%= t('.telephone') %></th>
        <th><%= t('.status') %></th>
      </tr>
    </tfoot>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.company %></td>
          <td style="text-align: center"><%= customer.cnpj %></td>
          <td><%= customer.email %></td>
          <td><%= customer.telephone %></td>
          <td style="text-align: center"><%= customer.status.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
