<%= render './partials/notifications/external_header' %>
<p><%= t('notifications.user.forgot_your_password.line_0') %></p>
<br>
<p><%= t('notifications.user.forgot_your_password.line_1') %></p>
<br>
<h3>
  <strong>
    <%= t('notifications.user.forgot_your_password.line_2', password: @password) %>
  </strong>
</h3>
<%= render './partials/notifications/external_footer' %>
