<h1 class="mt-4"><%= t('.title') %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><%= t('breadcrumbs.escorts_list') %></li>
</ol>
<%= render './partials/messages' %>
<%= render './partials/scheduling_cancelation_info' %>
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    <%= t('.escorts_list') %>
  </div>
  <div class="card-body">
    <table id="datatablesSimple" role='datatable' class="stripe" width="100%">
      <thead>
        <tr>
          <th><%= t('.order') %></th>
          <th><%= t('.job_date_time') %></th>
          <th><%= t('.source') %></th>
          <th><%= t('.destiny') %></th>
          <th><%= t('.observation') %></th>
          <th><%= t('.status') %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><%= t('.order') %></th>
          <th><%= t('.job_date_time') %></th>
          <th><%= t('.source') %></th>
          <th><%= t('.destiny') %></th>
          <th><%= t('.observation') %></th>
          <th><%= t('.status') %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="<%= order_color(order) %>">
            <td><%= order.order_number %></td>
            <td><%= convert_date_time(order.prevision) %></td>
            <td><%= order.source_state %></td>
            <td><%= order.destiny_state %></td>
            <td><%= order.observation %></td>
            <td><%= order.status.name %></td>
            <td>
              <%= link_to customer_panel_escort_show_path(order.order_number), title: t('.details') do %>
                <i class="fas fa-align-justify me-1"></i>
              <% end %>
            </td>
            <td>
              <% if order.confirmed? %>
                <%= link_to customer_panel_escort_pre_alert_path(order.order_number, format: :pdf),
                            title: t('.export_pre_alert'),
                            target: '_blank' do %>
                  <i class="fas fa-file-download me-1"></i>
                <% end %>
              <% end %>
            </td>
            <td>
            <% if order.scheduled? && order.deletable? %>
              <%= link_to({ action: 'cancel', order_number: order.order_number }, method: :delete, title: t('.cancel')) do %>
                <i class="fas fa-times me-1 btn-delete-scheduling"></i>
              <% end %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
