  <%= render '/partials/header' %>
  <h1><%= t('.title', order_number: @mission_history.mission.escort_service.order_number) %></h1>
  <hr>
    <strong><%= t('.job_day') %></strong>
  <span><%= @mission_history.mission.escort_service.job_day %></span>
  <br>
  <strong><%= t('.start_horary') %></strong>
  <span><%= @mission_history.mission.escort_service.job_horary %></span>
  <br>
  <strong><%= t('.finish_horary') %></strong>
  <span><%= convert_time(@mission_history.mission.finished_at) %></span>
  <br>
  <hr>
  <!-- CUSTOMER DATA -->
  <h2><%= t('.way') %></h2>
  <h4 style='text-decoration: underline'><%= t('.source') %></h4>
  <strong><%= t('.address') %></strong>
  <span><%= full_address(@mission_history.mission.escort_service, :source) %></span>
  <br><br>
  <h4 style='text-decoration: underline'><%= t('.destiny') %></h4>
  <strong><%= t('.address') %></strong>
  <span><%= full_address(@mission_history.mission.escort_service, :destiny) %></span>
  <br><br><br>
  <strong><%= t('.observation') %></strong>
  <span><%= @mission_history.mission.escort_service.observation %></span>
  <br>

  <hr>

  <!-- TEAM DATA-->
  <h2><%= t('.team') %></h2>
  <strong><%= t('.team_name') %></strong>
  <span><%= @mission_history.mission.team.name %></span>
  <br>
  <strong><%= t('.agents', count: @mission_history.mission.team.agents.count) %></strong>
  <span><%= MissionsHistoryPresenter.fullnames_with_document(@mission_history) %></span>
  <br>

  <hr>

  <!-- GUNS DATA-->
  <h2><%= t('.arsenal') %></h2>
  <strong><%= t('.guns') %></strong>
  <span><%= MissionsHistoryPresenter.guns(@mission_history) %></span>
  <br>

  <hr>

  <!-- MUNITIONS DATA-->
  <h2><%= t('.munitions') %></h2>
  <strong><%= t('.description') %></strong>
  <span><%= MissionsHistoryPresenter.munitions(@mission_history) %></span>
  <br>

  <hr>

  <!-- TACKLES DATA-->
  <h2><%= t('.tackles') %></h2>
  <strong><%= t('.waistcoats') %></strong>
  <span><%= MissionsHistoryPresenter.waistcoats(@mission_history) %></span>
  <br>
  <strong><%= t('.radios') %></strong>
  <span><%= MissionsHistoryPresenter.radios(@mission_history) %></span>
  <br>

  <hr>

  <!-- VEHICLES DATA-->
  <h2><%= t('.vehicles') %></h2>
  <strong><%= t('.description') %></strong>
  <span><%= MissionsHistoryPresenter.vehicles(@mission_history) %></span>

  <hr>

  <!-- FINAL CONSIDERATIONS-->
  <h2><%= t('.final_considerations') %></h2>
  <strong><%= t('.observations') %></strong>
  <span><%= @mission_history.mission.observation %></span>
  <%= render '/partials/footer' %>
