<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './././partials/account_missing' %>
</div>
<section id="access_buttons">
  <div class="container space-between">
    <div>
      <%= link_to dashboards_representantes_informacoes_pessoais_path, title: t('.menu.informations') do %>
        <%= image_tag 'personal_informations.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_representantes_financeiro_path, title: t('.menu.finance') do %>
        <%= image_tag 'finance.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_assinantes_chamados_path, title: t('.menu.support') do %>
        <%= image_tag 'support.svg' %>
      <% end %>
    </div>
  </div>
</section>
<%= render './././partials/footer' %>
