<%= render './partials/messages' %>
<h1 class="mt-4"><%= t('.title') %></h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><%= t('breadcrumbs.customers_list') %></li>
</ol>
<div>
  <%= link_to t('.add_customer_btn'),
              employee_panel_administrator_dashboard_cliente_novo_path,
              class: 'btn btn-primary' %>
</div>
<br>
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    <%= t('.customers_list') %>
  </div>
  <div class="card-body">
    <table id="datatablesCustomer" role='datatable' class="stripe" width="100%">
      <thead>
        <tr>
          <th><%= t('.company') %></th>
          <th><%= t('.cnpj') %></th>
          <th><%= t('.email') %></th>
          <th><%= t('.telephone') %></th>
          <th><%= t('.status') %></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><%= t('.company') %></th>
          <th><%= t('.cnpj') %></th>
          <th><%= t('.email') %></th>
          <th><%= t('.telephone') %></th>
          <th><%= t('.status') %></th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.company %></td>
            <td><%= customer.cnpj %></td>
            <td><%= customer.email %></td>
            <td><%= customer.telephone %></td>
            <td><%= customer.status.name %></td>
            <td>
              <%= link_to employee_panel_administrator_dashboard_customer_show_path(customer.id) do %>
                <i class="fas fa-align-justify me-1"></i></td>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @customers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
