<header>
  <%= image_tag attachments['header_background.png'].url %>
</header>
<p><%= t('notifications.hiring_finalization.line_1', subscriber_name: @name) %></p>
<p><%= t('notifications.hiring_finalization.line_2') %></p>
<p><%= t('notifications.hiring_finalization.line_3') %></p>
<p><%= t('notifications.hiring_finalization.line_4') %></p>
<p><%= t('notifications.hiring_finalization.line_5') %></p>
<p>
  <a href="<%= t('notifications.hiring_finalization.line_6a') %>" target="_blank">
    <%= t('notifications.hiring_finalization.line_6b') %>
  </a>
</p>
<br>
<p><%= t('notifications.hiring_finalization.line_7') %></p>
<br>
<br>
<p><%= t('notifications.hiring_finalization.line_8') %></p>
<hr>
<footer>
  <%= image_tag attachments['footer_background.png'].url %>
</footer>
